@page
@model PS.Web.Admin.Pages.Countries.DetailsModel

@{
    ViewData["Title"] = $"View country details: {Model.Country?.CountryName} ";
}

<section class="section" id="details_country">
    <div class="container flex">
        <dl class="disc__list">
            <dt class="disc__list-title">
                @Html.DisplayNameFor(model => model.Country.Id)
            </dt>
            <dd class="disc__list-item">
                @Html.DisplayFor(model => model.Country.Id)
            </dd>

            <dt class="disc__list-title">
                @Html.DisplayNameFor(model => model.Country.CountryName)
            </dt>
            <dd class="disc__list-item">
                @Html.DisplayFor(model => model.Country.CountryName)
            </dd>

            <dt class="disc__list-title">
                @Html.DisplayNameFor(model => model.Country.CountryCode)
            </dt>
            <dd class="disc__list-item">
                @Html.DisplayFor(model => model.Country.CountryCode)
            </dd>

        </dl>
        <div>
            <a class="btn btn__small" asp-page="Index">Back to List</a>            
        </div>
    </div>
</section>

